
  <footer style="background-color: #0D244D; width: 100%; display: flex; justify-content: center; align-items: center;">
      <p style="color: azure;">&copy; 2021 Simple Blog</p>
  </footer>
</body>
</html>
