<body>
  <div
    style="
      width: 100%;
      height: 150px;
      background: white;
      padding: 16px;
      text-align: center;
      color: #0d244d;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 4px;
      flex-direction: column;
    "
  >
    <img height="60px" width="60px" src="cid:logo" />
  </div>
</body>
