<%- include('./includes/head.ejs') %>
<body class="container-fuild">
  <div
    class="container-fuild d-flex flex-column align-items-center justify-content-center text-center"
  >
    <h3 class="m-2 align-self-start">Hello, <%= receiver %></h3>
    <h3 class="my-4">Welcome to <span>SPES</span>!</h3>
    <div class="d-flex text-center align-items-center justify-content-center flex-column">
      <p>
        We are so happy to have you on board . With SPES , you can track your financials functions
        like incomes , expenses and can generate a daily, weekly, monthly and yearly report !
      </p>
      <p class="my-5">
        Don't hesitate to et in touch if you have any question , we will always get back to you :)
      </p>
    </div>
  </div>
</body>
<%- include('./includes/footer.ejs') %>
