<%- include('./includes/head.ejs') %>
<body style="width: 100vw;">
  <div
    style="width: 100%; padding: 20px; display: flex; flex-direction: column; align-items: center; justify-content: center; gap: 20px;"
  >
    <h3 style="margin: 15px 0px;">Hello, <%= receiver %></h3>
    <h3 style="margin: 20px 0px;">Welcome to <span>SPES</span>!</h3>
    <div style="display: flex; width: 100%; flex-direction: column; align-items: center; justify-content: center; gap: 20px;">
      <p>
        We are so happy to have you on board . With SPES , you can track your financials functions
        like incomes , expenses and can generate a daily, weekly, monthly and yearly report !
      </p>
      <p >
        Don't hesitate to get in touch if you have any question , we will always get back to you :)
      </p>
    </div>
  </div>
</body>
<%- include('./includes/footer.ejs') %>
