<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
   
</head>
<body style="text-align:center">
  <header  >
    <h1 style="color:rgb(7, 60, 207)" >SPES</h1>
  </header>
  <main style="text-align: center;" >
      <h4>Reset Your Password</h4>
     <div>
       <p>
        Need to reset your password ? No problem ! Just click the button below , you will be on your way . After 5 minutes , the link will expire !!!
      </p>
      <p >
      If you did not make this request , please ignore it 
      </p>
      <button><a href={{link}}>Reset your password</a></button>
     </div>
  </main>
  <footer style="text-align:center">
    <p>&copy; 2023 SPES</p>
  </footer>
</body>
</html>