<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
   
</head>
<body style="text-align:center">
  <header  >
    <h1 style="color:rgb(7, 60, 207)" >SPES</h1>
  </header>
  <main style="text-align: center;" >
      <h4>Hello {{receiver}}! </h4>
     <h3 style="margin: 10px 0;">Welcome to <span style="color:rgb(7, 60, 207)">SPES !</span></h3>
     <div>
       <p>
        We are so happy to have you on board . With SPES , you can track your financials functions
        like incomes , expenses and can generate a daily, weekly, monthly and yearly report !
      </p>
      <p >
        Don't hesitate to get in touch if you have any question , we will always get back to you :)
      </p>
     </div>
  </main>
  <footer style="text-align:center">
    <p>&copy; 2023 SPES</p>
  </footer>
</body>
</html>